body{
    font-family: 'League Spartan', sans-serif;
}
h1{
    font-size: 40px;
}
.name-color{
    color: cornflowerblue;
}
section{
    display: flex;
}
.sec-1{
    width: 50%;
    margin: 10px;
    padding: 30px;
}
.sec-1 img{
    width: 90%;

}